body{ 
   
   background-image: url(https://media3.giphy.com/media/ccKEsBDAAQTrutQ9LA/giphy.gif?cid=ecf05e47acyj3vnhxzl695my7vinx3zchcsrij17ktfx2t1z&rid=giphy.gif&ct=g);
   
}

img{
   width: 150px;
}

.loginimg{
   width: 150px;
   height: 150px;
   padding-left: 89%;
   margin-left: 1px;
   display: flex;
   flex-direction: row;
   margin-top: -155px;
}

h2{
   text-align: center;
}

legend {

   font-size: 30px;
   font-style: initial;
   font-weight: bolder;
   color: black;
   display: flex;
   align-items: center;
   margin: 0 auto;
   line-height: 60px;
   text-transform: uppercase;
}

h1 {

   display: flex;
   flex-direction: column-reverse;
   margin-top: -80px;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   color: rgb(0, 0, 0);
   text-shadow: 
   0px 0px 30px rgb(0, 0, 0), 
   9px 8px 7px rgb(119, 11, 11),                    
   1px 1px 0px rgb(0, 0, 0),                  
   1px 0px 0px rgb(0, 0, 0);

}

p {
   line-height: 20px;
   font-size: 23px;
   font-weight: lighter;
   font-family: arial;
   text-align: justify;
   margin-top: 0px;
}